/* .heading-text{
    color: burlywood;
}

h1{
    color: green;
    background-color: tomato;
} */

h1{
    margin: 0;
}
html{
    font-size: 16px;
}
body{
    margin: 0;
    background-color: rgb(248, 248, 237);
}

.para-holder{
    font-size: 20px;
}

.p1{
    font-size: 1.5em;
}

.p2{
    font-size: 2rem;
}

.half-div{
    width: 50%;
}

.view{
    background-color: cadetblue;
    height: 30vh;
    width: 30vw;
    color: white;
    font-size: 8mm;
    overflow: scroll;
}

.heading-text{
    /* color: teal; */
    color: #ffbd00;
    color: rgb(255, 189,0);
    color: hsl(44, 100%, 50%);
}

.spacing{
    height: 150px;
    width: 400px;
    background-color: antiquewhite;
}

#heading{
    color: violet;
}

.box{
    background: aquamarine;
    /* border-width: 3px; */
    /* border-style: solid; */
    /* border-color: #973b37; */
    border: 3px solid #973b37;
    /* padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 16px; */
    
    /* padding: (top, right, bottom, left); */
    padding: 16px;

    /* padding: top right bottom left; */
    /* padding: 10px 20px 15px 25px; */
     
    /* padding: (top,bottom) (left,right); */
    /* padding: 20px 10px; */

    /* padding: (top) (left,right) (bottom); */
    /* padding: 10px 30px 15px; */

    /* margin: 10px 30px 20px 40px; */

    /* margin: 1rem; */

    border-radius: 6px;
    width: 30%;
}

.box-container{
    display: flex;
    gap: 1rem;
    /* flex-wrap: wrap-reverse; */
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.assignment{
    padding: 15px 10px;
    /* border-style: solid; */
    /* height: 50vh; */
    width: 50vw;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
    border-left: 2px dashed green;
    border-right: 2px dashed green;
    margin: 1rem;
    background-color: aliceblue;
    color: blue;
    border-radius: 20px;
}

.center-me{
    height: 300px;
    width: 300px;
    background-color: aquamarine;
    border-radius: 10px;
    /* text-align: center; */
    display: flex;
}