.heading{
    text-align: center;
}

table, th, td{
    border: 1px solid #637327;
}

table{
    border-collapse: collapse;
    width: 80%;
    margin: auto;
}

th, td{
    padding: 0.75rem 0.5rem;
    text-align: center;
}

thead{
    background-color: #c8ffec;
}

tbody tr:hover{
    background-color: rgb(241, 241, 241);
    cursor: pointer;
}

tbody tr:nth-child(odd){
    background-color: #f4eff4;
}

.link{
    text-decoration: 2px solid underline;
    color: #218821;
}

.link:active{
    color: red;
}